/* стили для index.html */

/* Сброс стилей  <h1>...<h6>, <p> и <ul> */

/* tagline */

/* features */

/* activity */

/* team */

/* footer */

/* button */

.btn-subscribe {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btnfly {
  margin-left: 10px;
}

/* Стили для portfolio.html */

.portfolio {
  padding: 94px 0;
}

.portfolio .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio .text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.portfolio .list {
  display: flex;
  flex-wrap: wrap;
}

/* filters */

.titles {
  padding: 20px 24px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.btn + .btn {
  margin-left: 8px;
}

.projects:hover,
.projects:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  min-height: 404px;
  border: 1px solid #eeeeee;
  overflow: hidden;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .hryaktxt {
  display: flex;
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  align-items: center;

  background: rgba(33, 150, 243, 0.9);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  opacity: 0;

  color: var(--white-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects:hover .hryaktxt,
.projects:focus .hryaktxt {
  transform: translateY(0);
  opacity: 1;
}

.projects:nth-child(3n) {
  margin-right: 0;
}

.projects:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
/* <!-- Постоянные клиенты --> */

/* Чем мы занимаемся текст с фоном  */

/*-----------overlay---- */

/* ---backdrop--- */

/* Подписка ---- */
/* .join-to {
  display: flex;
  justify-content: space-between;
  width: 570px;
  height: 50px;
} */

.form-field {
  height: 86px;
  margin-bottom: 25px;
}

.form-field .title {
  padding-left: 7px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
  padding-bottom: 20px;
}
.form-input-fotter {
  width: 358px;
  height: 100%;
  margin-right: 12px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: rgba(47, 48, 58, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: cornsilk;
}
form-input-fotter::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-input-fotter:focus {
  outline: none;
}
/*-- modal window-- */
