/* стили для index.html */

/* Сброс стилей  <h1>...<h6>, <p> и <ul> */

/* tagline */

/* features */

/* activity */

/* team */

/* footer */

/* button */

/* Стили для portfolio.html */

/* filters */

/* <!-- Постоянные клиенты --> */

/* Чем мы занимаемся текст с фоном  */

/*-----------overlay---- */

/* ---backdrop--- */

/* Подписка ---- */
/* .join-to {
  display: flex;
  justify-content: space-between;
  width: 570px;
  height: 50px;
} */

/*-- modal window-- */

/* .form-field {
  min-height: 86px;
  margin-bottom: 25px;
} */
